<p style="color: green"><%= notice %></p>

<h1>Projects</h1>
<% render 'form', project: @project %>
<div id="projects">
  <% @projects.each do |project| %>
    <div class="card card-body">
     <%= render project %>
    </div>
    <p>
      <%= link_to "Show this project", project %>
    </p>
  <% end %>
</div>

<%= link_to "New project", new_project_path %>
